doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Pengenalan Dota 2
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section
        h1 DOTA 2

      section
        h4 
          ul
            li Dota 2 adalah sebuah permainan multiplayer online battle arena
            li merupakan paket ekspansi dari Defense of the Ancients mod pada Warcraft 3 : Reign of Chaos danWarcraft 3 : The Frozen Throne
            li DotA 2 di developer oleh Valve Corporation
            li terbit juli 2013 dota 2 dapat dimainkan secara gratis pada operation system Microsoft Windows, OS X and Linux

       section
         h2 Perkembangan Dota 2
           h4 
             p Pengembangan Dota 2 dimulai sejak tahun 2009. Ketika pengembang mod DotA, Icefrog, dipekerjakan oleh Valve sebagai lead designer. Dota 2 dipuji oleh kritikus karena gameplay-nya, kualitas pembuatan dan kesetiaan pada gameplay pendahulu (DotA mod Warcraft 3). Dota 2 menjadi game yang memiliki aktifitas pemain paling banyak di Steam, dengan pucak 800,000 pemain online bersamaan setiap hari.

      section
        h3 Gameplay Dota 2
          h4 
            p Dota 2 dimainkan oleh 2 team yang beranggota 5 orang pemain, setiap tim memiliki markas yang berada dipojok peta, setiap markas memiliki satu bangunan bernama "Ancient", Dimana tim harus berusaha menghancurkan "Ancient" tim lainnya agar dapat memenangkan pertandingan. Setiap pemain mengontrol satu karakter "Hero" yang berfokus pada menaikan level, mengumpulkan gold, membeli item dan melawan tim lawan untuk menang.

      section
        h2 Ancients, Lanes and Creeps
        h4 
          p Dota 2 mengadu 2 tim berisikan masing-masing 5 pemain, dimana keduanya memiliki markas utama yang disebut Ancient dan tim pertama yang berhasil menghancurkan Ancient lawan adalah pemenangnya. Terdapat 3 jalan atau jalur (disebut ‘lanes’) yang menghubungkan kedua Ancient tersebut dan pasukan (‘creeps’) yang spawn atau muncul secara berkala di jalur-jalur tersebut, bertarung dengan ‘creeps’ lawan di sepanjang pertempuran menuju markas lawan.

      section
        h2 Heroes
        h4 
          p Masing-masing pemain dapat mengendalikan sebuah unit/ karakter yang disebut ‘Hero’ yang dipilih pada awal permainan. Terdapat lebih dari 100 Hero dengan type yang berbeda : Strength, Agility dan Intelligence. Setiap Hero memiliki 4 skill (beberapa memiliki lebih) aktif maupun pasif. Dengan membunuh creeps, menaikkan level, membeli item dan membuat keputusan strategi, pemain akan berusaha menjelajah map untuk menghancurkan Ancient lawannya.

      section
        h4 Spec Minimum untuk bermain Dota 2
        h4
          ul
            li OS: Windows 7
            li Processor: Dual core from Intel or AMD at 2.8 GHz
            li Memory: 4 GB RAM
            li Graphics: nVidia GeForce 8600/9600GT, ATI/AMD Radeon HD2600/3600
            li DirectX: Version 9.0c
            li Network: Broadband Internet Connection
            li Hard Drive: 8 GB available space
            li Sound Card: DirectX Compatible

      section
        h1 Cara Registrasi Untuk Bermain Dota 2

      section
        h4 Pertama : Install dan Registrasi Dota 2 pada Steam
          ul
            li -Register di Steam (web nya steampowered.com)-
            li -Download Steam App di http://cdn.steampowered.com/download/SteamInstall.msi-
            li Install Steam...
            li Sesudah Install, masuk dan lakukan update pada steam
            li Verifikasi Email nya,Buka Email And Click Link yg Ada Di Email
            li Setelah Vertifikasi, lakukan login pada steam
            li pilih Dota 2
            li dan Play

      section
        h1 Enjoy :)

      section
        h1 Sekian Dan TerimaKasih :D


script(src='build/build.js')